/node_modules/*
/node_modules
*.zip
archive/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Secrets and private key material - soha ne kerüljön verziókezelésbe
.env
*.pem
!.platform/files/eu-central-1-bundle.pem
!cert/eu-central-1-bundle.pem
cert/cert.pem
cert/csr.pem
cert/key.pem
